$mainWidth: 50%;
$mainMargins: 10% auto;
$mainFormWidth: 50%;

$cardBorder: 2px solid #8f8d91;

$areaPadding: 2%;

$profilePaddingLeft: 4%;
$profilePaddingBottom: 20%;

$avatarWidth: 67px;

$repoPadding: 5%;
$repoNameTextColor: #0000cd;
