// .view {
//     display: none;
// }
//
// nav {
//     display: none;
// }

main {
    width: 425px;
    margin: 30% auto;
}

.auth-area {
    text-align: center;
    padding-bottom: 30px;
}

.form-inline {
    width: 50%;
    display: inline;
}

.nav {
    display: none;

    .logout {
        float: right;
    }
}

.view {
    border: 2px solid #8f8d91;
}

#profile {
    padding-top: 10px;
    padding-right: 40px;

    ul {
        list-style: none;
        padding-bottom: 80px;
        font-weight: bold;
    }
}

.avatar {
    float: right;
    width: 67px;
}
