
main {
    width: 50%;
    margin: 30% auto;
}

.auth-area {
    text-align: center;
    padding-bottom: 30px;
}

.form-inline {
    width: 50%;
    display: inline;
}

.nav {
    display: none;

    .logout {
        float: right;
    }
}

.view {
    border: 2px solid #8f8d91;
}

#profile {
    padding: 2%;

    ul {
        list-style: none;
        padding-left: 4%;
        padding-bottom: 20%;
        font-weight: bold;
    }

    ul li {
        padding-bottom: 2%;
    }
}

.avatar {
    float: right;
    width: 67px;
}

#repos {
    padding: 5%;
}

.toRepoDetail {
    text-decoration: underline;
    color: #0000cd;
}

#repoDetail {
    padding: 5%;
}
